<div id="jobs">
	<% @jobs.each do |job| %>
	<div class="job">
		<h2 class="animated bounceInUp"><%= link_to job.title, job %></h2>
		<p class="animated bounceInUp"><%= job.company %></p>
	</div>
	<% end %>
</div>

